<section class="py-10">
  
    <div class="container">
        <h1 class="text-[#090F41] font-bold text-[35px] py-6 text-center ">Category Details</h1>
        <div class="grid lg:grid-cols-2 gap-5">

         
            
            <div class="">
                <img [src]="categoryId.image" class="w-1/2 rounded py-3" alt="">
               
               
                
                   
                        <!-- <div class="grid lg:grid-cols-4"> -->
                        
                    
                            
                <!-- </div> -->
               
                  
              
            </div>
            <div>
               <h2 class="text-[#8B5E35] font-bold mb-5 text-[30px]">{{categoryId.name}}</h2>
               <div class="flex justify-start mb-5 items-center ">
                <p><i class="fa-solid fa-star text-yellow-400"></i></p>
                <p><i class="fa-solid fa-star text-yellow-400"></i></p>
                <p><i class="fa-solid fa-star text-yellow-400"></i></p>
                <p><i class="fa-solid fa-star-half-stroke text-yellow-400"></i></p>
                <p class="ms-10 text-[#9D9DAA]">42 ..reviews</p>
            </div>
               <h2 class="font-bold mb-5 text-[25px] text-[#372413]">${{categoryId._id.split('',3).join('')}}</h2>
               <h2 class="font-light mb-5 text-[15px] text-[#9D9DAA]">{{categoryId.createdAt  |date }}</h2>
               <h2  class="text-[#090F41] font-bold text-[20px] py-6  mb-5">{{categoryId.slug}}</h2>
              
            </div>
    
        </div>
    </div>

</section>
