
<section class="bg-[#F6F6F6]">
    <div class="container">



        <ul class="flex justify-start items-center py-9">
            <li>
                <a routerLink="/home" routerLinkActive="text-[#8B5E35]"  class="block text-[#8B5E35] font-bold   py-2 px-3 ms-4  text-[14px]  " aria-current="page"> Home 
                    </a>
              </li>
              <i class="fa-solid fa-chevron-right"></i>

              <li>
                <a routerLink="/blog" routerLinkActive="text-[#8B5E35]"  class="block  text-[#9D9DAA] py-2 px-3  text-[14px] ms-4  " aria-current="page"> blog 
                    </a>
              </li>
        </ul>
        <h1 class=" text-[#090F41] font-bold text-[30px]">Contact me</h1>
        <p class=" text-[12px text-[#9D9DAA] mb-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit ,sed do eiusmod tempor</p>
          

        <form >

            <div class="flex justify-start items-center gap-1 ">
                <div class="w-[100%] mb-4" >
                    <label for="default-input" class="block mb-2 text-[#090F41] text-sm font-medium  dark:text-white">First Name</label>
                    <input type="text" id="default-input" aria-label="default-input"  class="mb-6 w-[90%] bg-white border border-[#8B5E35]  text-sm rounded-lg focus:ring-[#8B5E35] focus:border-[#8B5E35]  p-2 " >
                </div>
                <div class="w-[100%] mb-4">
                    <label for="default-input" class="block mb-2 text-[#090F41] text-sm font-medium  dark:text-white"> Last Name</label>
                    <input type="text" id="default-input" aria-label="default-input" class="mb-6 w-[80%] bg-white border border-[#8B5E35] text-gray-900 text-sm  rounded-lg focus:ring-[#8B5E35] focus:border-[#8B5E35]   p-2 " >
                </div>
            </div>
            <div class="flex justify-start items-center gap-1">
                <div class="w-[100%]" >
                    <label for="default-input" class="block mb-2 text-sm text-[#090F41] font-medium  dark:text-white">Email</label>
                    <input type="text" id="default-input" aria-label="default-input"  class="mb-6 w-[90%] bg-white border border-[#8B5E35]  text-sm rounded-lg focus:ring-[#8B5E35] focus:border-[#8B5E35]  p-2 " >
                </div>
                <div class="w-[100%]">
                    <label for="default-input" class="block mb-2 text-sm text-[#090F41] font-medium  dark:text-white">Phone Number</label>
                    <input type="text" id="default-input" aria-label="default-input" class="mb-6 w-[80%] bg-white border border-[#8B5E35]  text-sm  rounded-lg focus:ring-[#8B5E35] focus:border-[#8B5E35]   p-2 " >
                </div>
            </div>
            

    
            <div>
                <label for="countries" class="block mb-2 text-sm text-[#090F41] font-medium ">Choose a topic</label>
                <select id="countries" class="bg-gray-50 border  w-[90%] mb-10 text-[#9D9DAA] text-sm rounded-lg   p-2 border-[#8B5E35]  focus:ring-[#8B5E35] focus:border-[#8B5E35]">
                    <option selected>Choose a country</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="FR">France</option>
                    <option value="DE">Germany</option>
                  </select>
                
            </div>
            <div class="mb-3">
                
             <label for="message" class="block mb-2 text-sm font-medium text-[#090F41] dark:text-white">Message</label>
              <textarea id="message" rows="5" class="block p-2 w-[90%] text-sm text-[#9D9DAA] bg-white rounded border border-[#8B5E35]  focus:ring-[#8B5E35] focus:border-[#8B5E35] " placeholder="Type Your message"></textarea>

            </div>

            <div class="flex items-center mb-4">
                <input id="disabled-checkbox" type="checkbox" value="" class="w-4 h-4  rounded-sm border-[#8B5E35]  focus:ring-[#8B5E35] focus:border-[#8B5E35]  ">
                <label for="disabled-checkbox" class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">I accept the terms</label>
            </div>
 
             <button class="bg-[#8B5E35] mb-4 rounded-full px-14 text-white py-1">Submit</button>
  

        </form>
    </div>
</section>


<section class="bg-[#F6F6F6] shadow py-10">
    <div class="container shadow mb-5 bg-white  py-20">
       
        
        <div class="mx-auto w-[60%] text-center  py-10 ">
            <span class="text-[#9B7E5C] text-[25px] mb-5"><i class="fa-solid fa-envelope"></i></span>
        <h2 class="uppercase text-[#090F41] font-[500] text-[15px] mb-5">Sign up for teemate style news.</h2>
        <p class="text-[14px] text-[#9D9DAA] mb-5">Get 15% off your first purchaxse! be the first Know about sales , <br>new product lanches and exclusive offeres!.</p>
        <div class="flex items-center justify-center  gap-3">
            <input type="email" id="disabled-input" aria-label="disabled input" class="  border border-[#9B7E5C] text-[#9D9DAA] text-sm rounded-lg   block w-[50%] p-2.5 cursor-not-allowed  " value="Enter your Email" disabled>
             <button class="bg-[#9B7E5C] border border-white text-white px-5 py-2 rounded-xl">Subscribe </button>

        </div>
        </div>
    </div>

</section>
