<section class="bg-[#e0cab0] rounded shadow w-[60%] mx-auto my-6 p-8">
    <h1 class="text-center py-4 text-[#090F41] font-bold text-[22px]">Forget Password</h1>
    
    @if (step ==1 ) {
        <form class="" [formGroup]="EmailForgetPassword" (ngSubmit)="emailforget()" >
            <div class="mb-6">
                <label for="email" class="block mb-2 text-[17px] font-medium text-[#090F41] dark:text-white">E-mail</label>
                <input
                formControlName="email"
                type="email" id="email" class="bg-gray-50 border
                 border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C]
                 focus:border-[#9B7E5C] block w-full p-2.5 dark:bg-gray-700 dark:border-[#9B7E5C]dark:text-white dark:focus:ring-[#9B7E5C]
    "
                >
    
               @let controlemail=EmailForgetPassword.get('email');
                @if(controlemail?.errors  && controlemail?.touched)
                {
                    <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35] " role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                          
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(controlemail?.getError('required'))
                              {
                                <li>Email is required</li>
                              }
                              @else if(controlemail?.getError('email'))
                              {
                                <li>Email is valid</li>
                              }
                              
                              
                             
                              
                          </ul>
                        </div>
                      </div>
                }
            </div>
    
            <button class="bg-[#8B5E35] w-[20%] rounded mb-3 mx-auto py-2  text-white">
                Verify Email
                @if( isLoading)
                {
                  <span><i class=" fas fa-spin fa-spinner"></i></span>
                }
            </button>
    
    
        </form>
    }

    <!-- ***************************************************** -->


    
    @if (step ==2) {
        <form class="" [formGroup]="CodeForgetPassword" (ngSubmit)="codeforget()" >
            <div class="mb-6">
                <label for="resetCode" class="block mb-2 text-[17px] font-medium text-[#090F41] dark:text-white">E-mail</label>
                <input
                formControlName="resetCode"
                type="text" id="resetCode" class="bg-gray-50 border
                 border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C]
                 focus:border-[#9B7E5C] block w-full p-2.5 dark:bg-gray-700 dark:border-[#9B7E5C]dark:text-white dark:focus:ring-[#9B7E5C]
    "
                >
    
                   
                @if(CodeForgetPassword.get('resetCode')?.errors && CodeForgetPassword.get('resetCode')?.touched)
                {
                    <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35] " role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                          
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(CodeForgetPassword.get('resetCode')?.getError('required'))
                              {
                                <li>resetCode is required</li>
                              }
                              @else if(CodeForgetPassword.get('resetCode')?.getError('pattern'))
                              {
                                <li>resetCode is valid</li>
                              }
                              
                              
                             
                              
                          </ul>
                        </div>
                      </div>
                }
            </div>
    
            <button class="bg-[#8B5E35] w-[20%] rounded mb-3 mx-auto py-2  text-white">
                Verify Code
                @if( isLoading)
                {
                  <span><i class=" fas fa-spin fa-spinner"></i></span>
                }
            </button>
    
    
        </form>
    
    }

    <!-- ***************************************************** -->

   
    @if (step ==3) {
        <form class="" [formGroup]="PassWordForgetPassword" (ngSubmit)="passwordforget()" >
            <div class="mb-6">
                <label for="email" class="block mb-2 text-[17px] font-medium text-[#090F41] dark:text-white">E-mail</label>
                <input
                formControlName="email"
                type="email" id="email" class="bg-gray-50 border
                 border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C]
                 focus:border-[#9B7E5C] block w-full p-2.5 dark:bg-gray-700 dark:border-[#9B7E5C]dark:text-white dark:focus:ring-[#9B7E5C]
    "
                >
    
               @let controlpassword=PassWordForgetPassword.get('email');
                @if(controlpassword?.errors  && controlpassword?.touched)
                {
                    <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35] " role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                          
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(controlpassword?.getError('required'))
                              {
                                <li>Email is required</li>
                              }
                              @else if(controlpassword?.getError('email'))
                              {
                                <li>Email is valid</li>
                              }
                              
                              
                             
                              
                          </ul>
                        </div>
                      </div>
                }
            </div>
    
    
    
    
            <div class="mb-6">
                <label for="password" class="block mb-2 text-[17px] font-medium text-[#090F41] dark:text-white">    User password</label>
                <input
                formControlName="newPassword"
                type="password" id="name" class="bg-gray-50 border
                 border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C]
                 focus:border-[#9B7E5C] block w-full p-2.5 dark:bg-gray-700 dark:border-[#9B7E5C]dark:text-white dark:focus:ring-[#9B7E5C]
    "
                >
    
                  <!-- @let controlpassword=PassWordForgetPassword.get('newPassword'); -->
                @if(PassWordForgetPassword.get('newPassword')?.errors && PassWordForgetPassword.get('newPassword')?.touched)
                {
                    <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35] " role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                          
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(PassWordForgetPassword.get('newPassword')?.getError('required'))
                              {
                                <li>password is required</li>
                              }
                              @else if(PassWordForgetPassword.get('newPassword')?.getError('pattern'))
                              {
                                <li>password is valid</li>
                              }
                              
                              
                             
                              
                          </ul>
                        </div>
                      </div>
                }
            </div>
    
    
            <button class="bg-[#8B5E35] w-[20%] rounded mb-3 mx-auto py-2  text-white">
                Verify Email

                @if( isLoading)
                {
                  <span><i class=" fas fa-spin fa-spinner"></i></span>
                }
            </button>
    
    
        </form>
    }


</section>
