
<section class="py-7">
    <div class="container">
        <h2 class="text-[#090F41] text-center font-bold text-[22px] mb-7">Mobile Phones and Modern Life.</h2>

        <p class="text-[#9D9DAA] mb-10 text-[14px]">Mobile phones have become an essential part of daily life, transforming how people communicate, work, and entertain themselves. With advancements in technology, modern smartphones are no longer just for calls and messages; they serve as mini-computers with powerful features</p>
      <div class="grid sm:grid-cols-2 md:grid lg:grid-cols-4 gap-10">
       


    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/front-view-office-desk-with-computer-screen-lamp.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop E54      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 25000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  True </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/parents-working-with-laptops.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop GPY      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 30000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  false </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/people-sitting-desk-with-laptops-working.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop E54      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 25000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  True </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/close-up-woman-typing-laptop-coffee-shop.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop Apple      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 80000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">False </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/view-3d-laptop-device-with-screen-keyboard.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop E54      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 25000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  True </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/top-view-laptop.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop macbook      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 50000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  false </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/view-3d-laptop-device-with-screen-keyboard (1).jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop macbo      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 70000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  True </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/workplace-with-laptop-stand.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop  Apple      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 100000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  True </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/working-colleagues-looking-paper-workplace-with-laptops-stationery-nameplate.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop E54      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 25000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  True </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    <div class="max-w-sm bg-[#9D9DAA] border border-gray-200 rounded-lg shadow-sm  dark:border-gray-700">
        <a href="#">
            <img class="rounded h-[200px]" src="/images/workplace-with-laptop-near-eyeglasses-notepad-mobile-phone.jpg" alt="" />
        </a>
        <div class=" flex justify-between items-center">

           
                <h5 class="mt-5  ms-2 text-sm font-bold tracking-tight text-white "> Laptop Latitude      </h5>
                <h5 class="mt-5 me-2 text-sm font-bold tracking-tight text-white "> 20000 </h5>

            
        </div>

        <div class="flex justify-between items-center">
            <p class="mt-5 ms-2 font-normal text-[#9B7E5C]">  false </p>
            <p class="mt-5 me-2 text-sm font-bold tracking-tight text-white ">Rockerz 370</p>
        </div>
      </div>
    
      </div>
    </div>
  </section>
