<section class="py-10 bg-[#F6F6F6]">
    <div class="container">


       
        <ul class="flex justify-start items-center">
            <li>
                <a routerLink="/home" routerLinkActive="text-[#8B5E35]"  class="block text-[#8B5E35] font-bold   py-2 px-3 ms-4  text-[14px]  " aria-current="page"> Home 
                    </a>
              </li>
              <i class="fa-solid fa-chevron-right"></i>

              <li>
                <a routerLink="/blog" routerLinkActive="text-[#8B5E35]"  class="block  text-[#9D9DAA] py-2 px-3  text-[14px] ms-4  " aria-current="page"> blog 
                    </a>
              </li>
        </ul>
        <h1 class="text-center text-[#090F41] font-bold text-[25px]">Blog</h1>
        <p class="text-[11px] text-center mt-4 text-[#9D9DAA]">Make Your Best moments Stylish with our latest Designed of clothing.</p>
      

        <div  class="py-5 grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            

<div   class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/images/unsplash_vHVfpi3h5xk-5.png" alt="" />
    </a>
    <div class="p-5">
        
        <div class="flex justify-between items-center text-[14px]  text-[#9D9DAA]">
            <p>Fashion</p>
            <p>Dec 30 , 2022</p>
        </div>
          <h3 class="text-[#090F41] text-[19px] font-[700]">The perfect Shopify theme</h3>
          <p class="text-[#9D9DAA] mt-2 text-[14px]">shopify is the second most popular <br> eCommerce store builder in the world. you can shop now in the website you are......</p>
       
        
             
          
    </div>
</div>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/images/unsplash_vHVfpi3h5xk-4.png" alt="" />
    </a>
    <div class="p-5">
        
        <div class="flex justify-between items-center text-[14px] text-[#9D9DAA]">
            <p>Fashion</p>
            <p>Dec 30 , 2022</p>
        </div>
          <h3 class="text-[#090F41] text-[19px] font-[700]">The perfect Shopify theme</h3>
          <p class="text-[#9D9DAA] mt-2 text-[14px]">shopify is the second most popular <br> eCommerce store builder in the world. you can shop now in the website you are......</p>
       
        
             
          
    </div>
</div>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/images/unsplash_vHVfpi3h5xk-2.png" alt="" />
    </a>
    <div class="p-5">
        
        <div class="flex justify-between items-center text-[14px] text-[#9D9DAA]">
            <p>Fashion</p>
            <p>Dec 30 , 2022</p>
        </div>
          <h3 class="text-[#090F41] text-[19px] font-[700]">The perfect Shopify theme</h3>
          <p class="text-[#9D9DAA] mt-2 text-[14px]">shopify is the second most popular <br> eCommerce store builder in the world. you can shop now in the website you are......</p>
       
        
             
          
    </div>
</div>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/images/unsplash_vHVfpi3h5xk-2.png" alt="" />
    </a>
    <div class="p-5">
        
        <div class="flex justify-between items-center text-[14px] text-[#9D9DAA]">
            <p>Fashion</p>
            <p>Dec 30 , 2022</p>
        </div>
          <h3 class="text-[#090F41] text-[19px] font-[700]">The perfect Shopify theme</h3>
          <p class="text-[#9D9DAA] mt-2 text-[14px]">shopify is the second most popular <br> eCommerce store builder in the world. you can shop now in the website you are......</p>
       
        
             
          
    </div>
</div>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/images/unsplash_vHVfpi3h5xk-1.png" alt="" />
    </a>
    <div class="p-5">
        
        <div class="flex justify-between items-center text-[14px] text-[#9D9DAA]">
            <p>Fashion</p>
            <p>Dec 30 , 2022</p>
        </div>
          <h3 class="text-[#090F41] text-[19px] font-[700]">The perfect Shopify theme</h3>
          <p class="text-[#9D9DAA] mt-2 text-[14px]">shopify is the second most popular <br> eCommerce store builder in the world. you can shop now in the website you are......</p>
       
        
             
          
    </div>
</div>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/images/unsplash_vHVfpi3h5xk.png" alt="" />
    </a>
    <div class="p-5">
        
        <div class="flex justify-between items-center text-[14px] text-[#9D9DAA]">
            <p>Fashion</p>
            <p>Dec 30 , 2022</p>
        </div>
          <h3 class="text-[#090F41] text-[19px] font-[700]">The perfect Shopify theme</h3>
          <p class="text-[#9D9DAA] mt-2 text-[14px]">shopify is the second most popular <br> eCommerce store builder in the world. you can shop now in the website you are......</p>
       
        
             
          
    </div>
</div>

        </div>
    </div>
</section>


<section class="bg-[#F6F6F6] shadow py-10">
    <div class="container shadow mb-5 bg-white  py-20">
       
        
        <div class="mx-auto w-[60%] text-center  py-10 ">
            <span class="text-[#9B7E5C] text-[25px] mb-5"><i class="fa-solid fa-envelope"></i></span>
        <h2 class="uppercase text-[#090F41] font-[500] text-[15px] mb-5">Sign up for teemate style news.</h2>
        <p class="text-[14px] text-[#9D9DAA] mb-5">Get 15% off your first purchaxse! be the first Know about sales , <br>new product lanches and exclusive offeres!.</p>
        <div class="flex items-center justify-center  gap-3">
            <input type="email" id="disabled-input" aria-label="disabled input" class="  border border-[#9B7E5C] text-[#9D9DAA] text-sm rounded-lg   block w-[50%] p-2.5 cursor-not-allowed  " value="Enter your Email" disabled>
             <button class="bg-[#9B7E5C] border border-white text-white px-5 py-2 rounded-xl">Subscribe </button>

        </div>
        </div>
    </div>

</section>