<section class="p-10 bg-[#F6F6F6]">
  
    <div class="container">
        <ul class="flex justify-start items-center">
            <li>
                <a routerLink="/home" routerLinkActive="text-[#8B5E35]"  class="block  text-[#8B5E35] font-bold py-2 px-3 ms-4  text-[14px]  " aria-current="page"> Home 
                    </a>
              </li>
              <i class="fa-solid fa-chevron-right"></i>

              <li>
                <a routerLink="/aboutus" routerLinkActive="text-[#8B5E35]"  class="block  text-[#9D9DAA] py-2 px-3  text-[14px] ms-4  " aria-current="page"> About us 
                    </a>
              </li>
        </ul>



        
      
        <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-10 py-10 items-center ">
            <div class="shadow bg-white p-10 rounded-lg 
              ms-5">
                <h2 class="text-[#8B5E35] text-[47px] mb-3 font-bold"><i class="fa-solid fa-quote-left"></i></h2>
            <p class="text-[14px] mb-8 text-[#9D9DAA]"> We are glad to present you our most<br>
                perfect Shopify theme, which supports lorem is<br>
                Sections Everywhere, very high metric supports up<br>
                scores by google page speed insight every them. This<br>
                is the most mobile-oriented theme  sectionsthat<br>
                will be convenient on any of your mobile devices.
            </p>
            <span class="text-[#090F41] text-[17px] mb-8 font-bold">Jack Donowan</span>
            </div>
            <div>
                <img src="/images/close-up-woman-posing-studio.jpg" class="w-full rounded-2xl"  alt="">
            </div>
           
            
    

 
         

 </div>
    </div>

</section>


<div class="grid md:grid-cols-3 lg:grid-cols-4 gap-8">

    @for (item of brands ; track item._id) 
    {
        <div    data-aos="fade-up-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="w-full max-w-sm bg-white border border-gray-200 rounded shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a  class="relative">
                <img  class="h-[150px] object-contain w-full rounded-t-lg" [src]="item.image" alt="product image" />
                <span><i class="fa-regular fa-heart absolute top-2 left-2 text-[#9B7E5C] text-[14px]"></i></span>
            </a>

            <div class=" ">

              <h5 class="text-sm  text-center ms-2 text-[#090F41] font-bold  dark:text-white">{{item.name}}</h5>
                
            </div>
            <div class=" ">
               
                


                
                

              
                
            </div>
        </div>



    }

</div>

<section class="py-20">
   
    <div class="container">
        <h1 class="text-center text-[#090F41] text-[30px] mb-3 font-bold">A Few Words About Us</h1>
        <p  class="text-center text-[14px] text-[#9D9DAA]">Make Your Best moments more stylish with our latest design of clothing.</p>
    
         <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-10 py-10 items-center">
                    <div>
                        <img src="/images/Group 2167.png" class="w-full"  alt="">
                    </div>
                    <div>
                        <h2 class="text-[#090F41] text-[27px] mb-3 font-bold">Why choose us?</h2>
                    <p class="text-[14px] text-[#9D9DAA]">Maecenas congue metus id turpis iaculis mattis. sed pellentesque id arcu id scelerisque. 
                        Ut ullamcorper rutrum justo , at blandit eros maxiusum ut. integer non tincidunt justo 
                        
                        rhoncus Aenean Venenatis sed purpoused ac sollustions . Nullan maurius riusis , commodo  et luctus rutrums
                        , lobortiuss sed mauris  integer counius , sem elementums Varius tristques. 
                    </p>
                    </div>
            

         
                 
    
         </div>
           
         <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-10 py-10 items-center">

            <div>
                <h2 class="text-[#090F41] text-[27px] mb-3 font-bold">Trusted online Shopping.</h2>
            <p class="text-[14px] text-[#9D9DAA]">Maecenas congue metus id turpis iaculis mattis. sed pellentesque id arcu id scelerisque. 
                Ut ullamcorper rutrum justo , at blandit eros maxiusum ut. integer non tincidunt justo 
                
                rhoncus Aenean Venenatis sed purpoused ac sollustions . Nullan maurius riusis , commodo  et luctus rutrums
                , lobortiuss sed mauris  integer counius , sem elementums Varius tristques. 
            </p>
            </div>
    
            <div>
                <img src="/images/Group 2169.png" class="w-full"  alt="">
            </div>
          
            

 
         

         </div>
         <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-10 py-10 items-center">
            <div>
                <img src="/images/Group 2168.png" class="w-full"  alt="">
            </div>

            <div>
                <h2 class="text-[#090F41] text-[27px] mb-3 font-bold">Trusted online Shopping.</h2>
            <p class="text-[14px] text-[#9D9DAA]">Maecenas congue metus id turpis iaculis mattis. sed pellentesque id arcu id scelerisque. 
                Ut ullamcorper rutrum justo , at blandit eros maxiusum ut. integer non tincidunt justo 
                
                rhoncus Aenean Venenatis sed purpoused ac sollustions . Nullan maurius riusis , commodo  et luctus rutrums
                , lobortiuss sed mauris  integer counius , sem elementums Varius tristques. 
            </p>
            </div>
    
          
            
          
            

 
         

         </div>

    
    </div>

</section>

